/* ==============================
	1. Google Fonts
============================== */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Microbe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900');

/* @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); */

/* ==============================
	2. Tailwind import
============================== */
@import 'tailwindcss';

/* ==============================
	3. Custom fonts
============================== */
/* @font-face {
  font-family: 'Ignazio';
  src: url('../fonts/ignazio/Ignazio_Outline.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JustSans';
  src: url('../fonts/just-sans-outline/JUST Sans Outline ExBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JustSans';
  src: url('../fonts/just-sans-outline/JUST Sans Outline Regular.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
} */

/* ==============================
	4. CSS Variables (Fonts + Colors)
============================== */
@theme {
	--font-ps2p: 'Press Start 2P', monospace;
	--font-ignazio: 'Ignazio', sans-serif;
	--font-justsans: 'JustSans', sans-serif;
	--font-rubik: 'Rubik Microbe', sans-serif;
	--font-sigmar: 'Sigmar', sans-serif;
	--font-azeret: 'Azeret Mono', sans-serif;
}

:root {
	--color1: #dee5e6;
	--color1bis: rgba(247, 231, 231, 0.712);
	--color2: #aeafbb;
	--color3: rgb(1, 2, 10);
	--color4: rgba(13, 20, 83, 0.5);
	--color5: #F0F465;
}

