/* ==============================
	1. Google Fonts
============================== */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Microbe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); */

/* ==============================
	2. Tailwind import
============================== */
@import 'tailwindcss';

/* ==============================
	3. Custom fonts
============================== */
/* @font-face {
  font-family: 'Ignazio';
  src: url('../fonts/ignazio/Ignazio_Outline.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JustSans';
  src: url('../fonts/just-sans-outline/JUST Sans Outline ExBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JustSans';
  src: url('../fonts/just-sans-outline/JUST Sans Outline Regular.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
} */

/* ==============================
	4. CSS Variables (Fonts + Colors)
============================== */
@theme {
	--font-ps2p: 'Press Start 2P', monospace;
	--font-ignazio: 'Ignazio', sans-serif;
	--font-justsans: 'JustSans', sans-serif;
	--font-rubik: 'Rubik Microbe', sans-serif;
	--font-sigmar: 'Sigmar', sans-serif; 
}

:root {
  --color1: #3347f8;
  --color1bis: #2e80fa;
	--color2: #a5fa9a;
	--color3: #006f9bff;
	--color4: #fafaea;
  --color5: #f763b4;
}

/* ==============================
   5. Floating animation
============================== */
@keyframes float {
  0%   { transform: translate(0, 0); }
  50%  { transform: translate(15px, -10px); }
  100% { transform: translate(0, 0); }
}

.floating-title {
  animation: float 6s ease-in-out infinite;
}

/* ==============================
   6. Hide Scrollbar
============================== */
/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
